@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@300&display=swap');


* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('code.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
  color: rgb(255, 255, 255);
  margin: 20px 0; /* Increase margin */
  text-shadow: black 1px 0px;
}

a{
  color:red;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  color: rgb(255, 255, 255);
  margin: 15px 0; /* Increase margin */
  text-shadow: black 1px 0px;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: black 1px 0px;
  padding: 10px;
  margin: 10px 0;
  height: 100%;
}


.code-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some spacing between code sections */
  width: 100%; /* Add this line to ensure the wrapper takes up the full width of its container */
  overflow-x: auto; /* Add a horizontal scrollbar if needed */
}

.code {
  background-color: black;
  padding: 5%;
  font-family: 'Source Code Pro', monospace;
  color: rgb(0, 255, 21);
  max-width: 100%; /* Ensure the code sections don't exceed their container width */
  white-space: pre-wrap; /* Add this line to wrap lines in code blocks */
  word-wrap: break-word; /* Add this line to break words to prevent overflow */
}


.trinket-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* for 16:9 aspect ratio */
  height: 0;
  max-width: 800px; /* change this to your preferred max width */
  margin: 0 auto; /* center the wrapper if its width is less than its container's width */
}

.trinket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px; /* Add some spacing between links */
}

.container{
  background-color:black;
  border-style:double;
  border-width: 10%;
  border-color:black;
  color:white;
  
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  padding: 10px;
  text-align: center;
  z-index: 9999; /* Adjust the value as needed */
}

footer p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 4vw;
    margin: 10px 5px;
    padding: 5px;
    display: inline;
  }

}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  h1 {
    font-size: 3vh;
  }

  h2 {
    font-size: 2.5vh;
  }

  p {
    font-size: 2vh;
    margin: 10px 5px;
    padding: 5px;
    display: inline;
  }
}

@media only screen and (min-width: 1201px) {
  h1 {
    font-size: 4vh;
  }

  h2 {
    font-size: 3vh;
  }

  p {
    font-size: 2vh;
    margin: 10px 5px;
    padding: 5px;
    display: inline;
  }
}

@media only screen and (max-width: 600px) {
  .code {
    font-size: 3vw;  /* Adjust this size to your preference */
  }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .code {
    font-size: 2vh;  /* Adjust this size to your preference */
  }
}

@media only screen and (min-width: 1201px) {
  .code {
    font-size: 1.5vh;  /* Adjust this size to your preference */
  }
}
