body > *:not(nav) {
  /* this targets all direct children of body, except for nav */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1%;
  color: white;
  font-size: 3vh;
  border-style: groove;
}

.topnav a {
  color: rgb(12, 223, 30);
  text-decoration: none;
}

.topnav a:hover {
  color: blueviolet;
  background-color: rgba(0, 0, 0, 0.2);
}

.topnav a.active {
  color: gold;
}

.topnav .icon {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

footer p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  background-color: none;
}

/* When the screen is less than 600px wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav on small screens */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 300px) {
  .topnav, .topnav a {
    font-size: 4vw;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .topnav, .topnav a {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .topnav, .topnav a {
    font-size: 3vh;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .topnav, .topnav a {
    font-size: 2.5vh;
  }
}

@media screen and (min-width: 1201px) {
  .topnav, .topnav a {
    font-size: 2vh;
  }
}

@media screen and (max-width: 900px) {
  .topnav {
    flex-direction: column;
    align-items: stretch;
  }

  .topnav a {
    margin: 10px;
    text-align: center;
  }
}