.topnav {
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap property */
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  padding: 1%;
  color: white;
  font-size: 3vh;
  border-style: groove;
}

.topnav a {
  color: rgb(12, 223, 30);
  text-decoration: none;
}

.topnav a:hover {
  color: blueviolet;
  background-color: rgba(0, 0, 0, 0.2);
}

.topnav a.active {
  color: gold;
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column; /* Change flex-direction to column */
    align-items: flex-start; /* Adjust alignment */
  }

  .topnav a {
    margin-top: 5px; /* Add margin to separate items */
  }

  /* Highlight the active page */
  .topnav a.active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .topnav {
    font-size: 2.5vh;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .topnav {
    font-size: 2vh;
  }
}

@media screen and (min-width: 1201px) {
  .topnav {
    font-size: 2.5vh;
  }
}